<div class="container">
    <div class="course-row">
        <div class="course-column-0"></div>
        <div class="course-column-1"></div>
        <div class="course-column-2"></div>
    </div>
</div>
<br>