<div class="courses-view-type">
    <button type="button" data-panel-size="6" class="btn btn-default btn-sm row-two {{#if rowTwo}}active{{/if}}">
        <span class="glyphicon glyphicon-th-large"></span>
    </button>
    <button type="button" data-panel-size="9" class="btn btn-default btn-sm row-three {{#if rowThree}}active{{/if}}">
        <span class="glyphicon glyphicon-th"></span>
    </button>
</div>

<div class="course-rows"></div>

{{> ../partials/paginator.hbs}}

<div class="course-button right">
    <button type="button" class="btn btn-link btn-xs">
        <a href="#createcourse">(
            <span class="glyphicon glyphicon-plus"></span> New Course </a>)
    </button>
</div>