<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">{{course.title}}</div>
        <div class="panel-body">
            <a class="course-link" href="#viewcourse/{{course.id}}">
                <img src="{{course.graphic.src}}" alt="{{course.graphic.alt}}" class="img-responsive" width="150" height="80" style="width:100%"
                    alt="Image">
            </a>
        </div>

    </div>
</div>