<div class="container">
    <div class="course-button left">
        <button type="button" class="btn btn-link btn-sm">
            <a href="#home">
                <span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
        </button>
    </div>

    <div class="alert alert-info">
        <strong><span class="glyphicon glyphicon-alert"></span> Under Construction!</strong> Please click on 'Go Back' to view courses.
    </div>
</div>