<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synopsys eLearning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header id="page-header">
        <div class="jumbotron">
            <a class="logo" href="https://readersexchange.wordpress.com">
                <img width="75" height="75" alt="Readers Exchange" src="img/readersexchange.jpg"></img>
            </a>
        </div>
    </header>

    <nav></nav>

    <aside></aside>

    <div class="welcome container">
        <h3>
            <center>E-Learning Portal</center>
        </h3>
        <p>“People expect to be bored by eLearning—let’s show them it doesn’t have to be like that!” - Cammy Bean<p>
    </div>

    <div id="page-container" class="container"></div>

    <footer class="container-fluid">

        <a class="logo" href="https://readersexchange.wordpress.com">
            <img width="30" height="30" alt="Readers Exchange" src="img/readersexchange.jpg"></img>
        </a>

        <div class="small">
            ©2018 ReadersExchange, Inc. All Rights Reserved
        </div>

    </footer>
</body>

</html>